{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-prisma"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@server/(.*)$",
        "^@/(.*)$",
        "^utils/(.*)$",
        "^services/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
